
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

</style>


<!-- Toolbar -->
<div class="toolbar" style="margin-bottom: 30px;">
  <h2>E-Stock Market</h2>
</div>
<div >
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/company" routerLinkActive="active">Manage Company</a>        
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stock" routerLinkActive="active">Manage Stocks</a>
      </li>
    </ul>
    
  </nav>
</div>

<router-outlet></router-outlet>
