.Tbl td, #stockTbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

.Tbl tr:nth-child(even){background-color: #f2f2f2;}

.Tbl tr:hover {background-color: #ddd;}

.Tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1976d2;
    color: white;
}